/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "NotoSansTamilUI";
  src: url("/assets/fonts/NotoSansTamilUI-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "NotoSansTamilUI";
  src: url("/assets/fonts/NotoSansTamilUI-Regular.ttf");
  font-weight: normal;
}

* {
  font-family: "NotoSansTamilUI";
}

